---
layout: default
title: Home
---

<h2>Latest Posts</h2>

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
      <h3>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h3>
      {% if post.excerpt %}
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url | relative_url }}">Read more &raquo;</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% if site.posts.size == 0 %}
  <p>No posts found. Add some posts to the _posts directory to see them appear here.</p>
{% endif %}
